<nav-comp></nav-comp>
<!-- start of header -->
<div class="container-fluid" id="home">
  <div class="hero-image">
    <div class="hero-text">
      <h1 class="name">LINDS GRAY</h1>
      <h3 class="title">PHOTOGRAPHER &#x25CF; FRONT END DEVELOPER &#x25CF; DESIGNER</h3>
    </div>
    <!-- end of hero text-->
  </div>
  <!--end of hero image -->
</div>
<!-- end of container fluid -->
<!-- End of header -->

<!-- Start of social media bar -->

<!-- Start of downward chevron -->
<div class="row" id="socialmediabar">
  <div class="hidden-xs col-sm-1 col-sm-offset-5">
    <a href="#aboutme">
      <span class="chevron bottom chevroncenter"></span>
    </a>
  </div>
  <!-- End of downward chevron -->
  <span class="col-xs-offset-4 col-xs-1 col-sm-offset-0 facebook">
    <a target="_blank" href="https://www.facebook.com/lindsayalexisgray" class="icon">
      <img src="../../assets/img/facebook.jpg" alt="facebook" height="25" width="25">
    </a>
  </span>
  <!-- end fb -->
  <span class="col-xs-1 instagram">
    <a target="_blank" href="https://www.instagram.com/sleeplessincalifornia" class="icon">
      <img src="../../assets/img/IG.jpg" alt="instagram" height="25" width="25"> </a>
  </span>
  <!-- end IG -->
  <span class="col-xs-1 twitter">
    <a target="_blank" href="https://www.twitter.com/simplelinds" class="icon">
      <img src="../../assets/img/twitter.jpg" alt="twitter" height="25" width="25"> </a>
  </span>
  <!-- end twitter -->
  <span class="col-xs-1 email">
    <a target="_blank" href="mailto:lindsaygray11@gmail.com" class="icon">
      <img src="../../assets/img/email.png" alt="email" height="25" width="25"> </a>
  </span>
  <!-- end email -->
</div>
<!-- end of social media bar -->
<!-- end end of social media bar -->
<div class="container-fluid">
  <about-comp></about-comp>
  <overview-comp></overview-comp>
</div>