<div class="row" id="overview">
  <div class="col-xs-12 col-md-offset-2 col-md-8 overviewcontainer">
    <tabset>
      <tab customeClass="tab-heading">
        <ng-template tabHeading>
          <img class="phototab" src="../../../assets/img/phototab.png"></ng-template>
        <hp-photos></hp-photos>
      </tab>
      <tab>
        <ng-template tabHeading>
          <img class="designtab" src="../../../assets/img/designtab.png"></ng-template>
        <design-tab></design-tab>
      </tab>
      <tab>
        <ng-template tabHeading>
          <img class="devtab" src="../../../assets/img/devtab.png"></ng-template>
        <dev-tab></dev-tab>
      </tab>
    </tabset>
  </div>
</div> 