<!-- start of header -->
<div class="container-fluid" id="review">
  <div class="row hero-image">
    <div class="col-xs-12 hero-text">
      <h1 class="title text-uppercase">movie reviews</h1>
      <h1 class="name text-uppercase">by linds gray</h1>
    </div>
    <!-- end of hero text-->
    <a href="/review#movies">
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </a>
  </div>
  <!--end of hero image -->
</div>
<!-- end of container fluid -->
<!-- End of header -->