<div class="row" id="aboutme">

  <div class="aboutsect col-xs-12 col-md-offset-1 col-md-7">
    <h1 class="aboutheader">About me:</h1>
    <p class="abouttext">Location: Constant state of denial, central CA</p>
    <p class="abouttext">Occupation: Photographer, Front End Developer, Designer, jack of all art trades.</p>
    <p class="abouttext">I could talk myself up but I feel like the work speaks for itself. Check out my portfolio to see what I've been working on. Bad films, American politics, and LA traffic inspire me.</p>
  </div>

  <div class="col-xs-12 col-md-4 aboutimgcontainer">
    <img class= "aboutimg"src="../../../assets/img/aboutme.png" alt="picture of me">
  </div>

</div>