<!-- nav bar begins -->
<nav role="navigation">
  <div id="menuToggle">
    <!--click reciever-->
    <input type="checkbox" />

    <!-- Some spans to act as a hamburger. -->
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <!--inside nav -->
      <a href="#home"><li>Home</li></a>
      <a href="#aboutme"><li>About Me</li></a>
      <a href="#overview"><li>Portfolio Overview</li></a>
      <a href="/review"><li>Movie Reviews</li></a>
    </ul>
    <!-- end of inside nav -->
  </div>
  <!-- end of menuToggle -->
</nav>
<!-- end of nav tag -->
<!-- end of nav -->