<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-7">
    <a href="https://lindsgray.github.io/magic8ball/" target="_blank"><img src="../../../assets/img/8ball.jpeg" alt=""></a>
    <a href="https://lindsgray.github.io/restauranteproject/" target="_blank"><img src="../../../assets/img/restaurante.png" alt=""></a>
  </div>
</div>

<div class="row">
   <div class="col-xs-12 col-md-offset-3 col-md-3">
     <p class="devtext">Magic 8 Ball exercise from WTT</p>
    </div>
    <div class="col-xs-12 col-md-3">
     <p class="devtext">Restaurant Example</p>
   </div>
</div>
