<div class="row">
  <div class="col-xs-12 col-md-3">
    <img class="poster img-responsive" src="../../../assets/img/design1.jpg" alt="">
  </div>
  <div class="col-xs-12 col-md-4">
    <img class="photoshop img-responsive" src="../../../assets/img/design2.jpg" alt="">
  </div>
  <div class="col-xs-12 col-md-4">
    <img class="mockup img-responsive" src="../../../assets/img/vtownmockup.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <p class="designtext">
      Proficient in Adobe products such as Photoshop that were used to create the designs you see above. The first black and white image is a poster I created for my roller derby team. The second is a past self portrait that reflected my life at the time. And the third is a mockup I did of a website for V Town Roller Derby. For design inquiries or more examples such as website or app mockups email me at lindsaygray11@gmail.com. 
    </p>
  </div>
</div>